<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav>
          <a href="https://www.youtube.com/watch?v=IwLSrNu1ppI" class="brand-logo"> Airbnb </a>
          <a href="../flats">Home</a>
          <a href="../flats">Flats</a>
          <a href="../flats/new">Add</a>
          <div class="animation start-home"></div>
      </nav>
    <%= yield %>
  </body>
</html>
